#volume {
	background: var(--dim-white);
	/* accent-color: var(--dim-yellow); */
	border-radius: 10px;
	width: 100%;
	outline: none;
	height: 4px;
	cursor: pointer;
	-webkit-appearance: none;
	overflow: hidden;
}

#volume::-webkit-slider-thumb {
	appearance: none;
	cursor: pointer;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	background: var(--dim-yellow);
	box-shadow: -407px 0 0 407px var(--dim-yellow);
}

#volume::-webkit-slider-runnable-track,
#volume::-moz-range-track {
	cursor: pointer;
}

#song {
	background: var(--dim-white);
	accent-color: var(--dim-yellow);
	border-radius: 10px;
	width: 80%;
	outline: none;
	height: 4px;
	cursor: pointer;
	-webkit-appearance: none;
	/* overflow: hidden; */
	/* position: relative; */
}

#song::-webkit-slider-thumb {
	appearance: none;
	cursor: pointer;
	height: 7px;
	width: 7px;
	outline: 2px solid rgb(243, 238, 238);
	outline-offset: 3px;
	right: 0;
	border-radius: 50%;
	background: var(--dim-yellow);
	/* box-shadow: -407px 0 0 407px var(--dim-yellow); */
}

#song::-webkit-range-progress {
	height: 7px;
	border-radius: 10px;
	background-color: var(--dim-yellow);
}

#song::-webkit-slider-runnable-track,
#song::-moz-range-track {
	cursor: pointer;
}
