@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
	font-family: "Quicksand", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: rgb(29, 33, 35);
	color: rgb(229, 231, 235);
	scrollbar-width: none;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--dim-white: rgba(255, 255, 255, 0.25);
	--dim-yellow: rgb(250, 205, 102);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@variants responsive {
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		.no-scrollbar {
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
	}
}
